/* main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    min-height: 100%;
    font-size: 105%;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

body {
    height: 100%;
    width: 100%;
}

.body-wrapper {
    /* position: relative; */
    background-color: #ffffff;
    margin: 0 auto;
    min-height: 100%;
    height: auto;
    width: 40%;
    min-width: 50em;
    /* font information for body */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    /* colors */
    color: #171616;
    /* background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgba(255,255,255,.5) 8px, rgba(255,255,255,.5) 10px); */
    border: 1px solid #e7e7e7;
    border-top: none;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}

.main-wrapper {
	height: 100%;
	width: 100%;
    padding: 0 1.75rem 1.25rem 1.25rem;
}

.nav-wrapper {
    width: 100%;
}
/* navigation bar */
.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.25em 1.75em 0.25em 1.25em;
    background-color: #333333;
    color: #f2f2f2;
    height: 2em;
}

/* [class^=page--about] #nav-about,
[class^=page--notes] #nav-notes,
/* [class^=page--projects] #nav-projects {
    border-bottom: 2px solid #a9581fc9;
} */

#link-wrapper {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background-color: #f8f8f8;
}

#internal-links {
    display: inline-flex;
    justify-content: space-between;
    padding: 0.10em 1.75em 0.10em 1.25em;
}

#internal-links div {
    font-size: 0.875em;
    font-weight: 500;
    margin-right: 0.75em;
}

/* #internal-links div:hover {
    border-bottom: 2px solid #a9581fc9;
} */


#header-name {
    font-size: 1.25em;
    display: flex;
    align-items: flex-end;
    padding: 0 0 0 0;
}

a, a:link, a:visited {
    text-decoration: none;
    color: black;
}