.notes {
  font-family: 'Roboto', sans-serif;
}

.notes-title a:link {
	text-decoration: none;
}

.notes-list {
	list-style-type: none;
}


.notes-list li {
	text-align: left;
  line-height: 1.25em;
  background-color: #d6d6d6;
}

.notes-title {
  font-size: 0.875em;
  display: inline-block;
}

.notes-title:hover {
  background-color: #d2d2d2;
  border-bottom: 1px dashed #000;
}

.date {
  font-size: 0.8em;
  color: #424242;
  display: inline-block;
  padding-right: 0.25em;
  width: 100px;
}

.post-wrapper {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

h1 {
  font-size: 1.25em;
  border-bottom: 1px dashed #000;
}

.byline {
  font-size: 0.75em;
  display: inline-block;
  width: 100%;
  font-weight: 500;
  margin-top: 0.75em;
}

h2 {
  font-size: 1.2em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
/*  border-bottom: 2px solid #e7e7e7;*/
}

h3 {
  font-size: 0.875em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
/*  border-bottom: 2px dashed #e7e7e7;*/
}

h1, h2, h3, h4  {
  font-weight: 500;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: justify;
  line-height: 1.25em;
}

.post-wrapper ul, .post-wrapper ol {
  list-style-position: inside;
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}