.notes {
  font-family: 'Roboto', sans-serif;
}

.notes-title a {
	color: black;
}

.notes-title a:link {
	text-decoration: none;
}

.notes-list {
	list-style-type: none;
  color: black;
}


.notes-list li {
	text-align: left;
  line-height: 1.25em;
}

.notes-title {
    font-size: 0.8em;
    display: inline-block;
    padding-left: 0.50em;
    text-transform: uppercase;
}

.date {
    font-size: 0.8em;
    color: #424242;
    display: inline-block;
    padding-right: 0.25em;
    width: 100px;
}

.post-wrapper {
    width: 70%;
    font-family: 'Crimson Text', Garamond, 'Times New Roman', Times, serif;
    color: #424242;
    background-color: #fafbfc;
    font-size: 1em;
}

h1 {
    color: #4a4a4a;
    font-size: 1.5em;
    text-transform: uppercase;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #e7e7e7;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px dashed #e7e7e7;
}

p {
  font-family: 'Crimson Text', Garamond, 'Times New Roman', Times, serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: justify;
  color: black;
}

.post-wrapper ul, .post-wrapper ol {
    list-style-position: inside;
    margin-left: 2.35em;
    margin-bottom: 1.25em;
}

.main-wrapper {
    overflow-y: auto;
}