<!DOCTYPE html>
<html class={{ block "head" . }} {{ end }} lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }}</title>
    <!-- custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/notes.css">
</head>
<body>
    <div class="body-wrapper">
        <div class="nav-wrapper">
            <div class="nav-bar">
                <div id="header-name">Neel Parikh</div>
            </div>
            <div id="link-wrapper">
                <div id="internal-links">
                    <div id="nav-notes"> <a href="/">Blog </a> </div>
                    <div id="nav-projects"> <a href="/">Projects </a> </div>
                    <div id="nav-about"> <a href="/">About </a> </div>
                </div>
            </div>
        </div>
        <article itemscope itemtype="http://schema.org/BlogPosting">
            <div class="main-wrapper">
                {{ block "main" . }}
                {{ end }}
            </div>
        </article>
    </div>
</body>
</html>