<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>

    <!-- custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="main-content">
    <!-- sidebar -->
    <div class="sidebar">
        <div class="notes">
            <ul class="notes-list">
                {{ range .Site.RegularPages }}
                <li class="notes-link">
                    <a href="{{ .URL }}"> {{ .Title }} </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>

    <!-- display notes -->
    <div>
    </div>
    </div>




    {{ block "main" . }}

    {{ end }}
</body>
</html>