<!DOCTYPE html>
<html class="page--about" lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <!-- custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/brands.css" integrity="sha384-whKHCkwP9f4MyD1vda26+XRyEg2zkyZezur14Kxc784RxUU1E7HvWVYj9EoJnUV7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/fontawesome.css" integrity="sha384-WK8BzK0mpgOdhCxq86nInFqSWLzR5UAsNg0MGX9aDaIIrFWQ38dGdhwnNCAoXFxL" crossorigin="anonymous">
</head>
<body>
    <div class="main-wrapper">
        <div class="nav-bar">
            <div id="internal-links">
                <div id="nav-about"> <a href="/">About </a> </div>
                <div id="nav-notes"> <a href="/notes/">Notes </a> </div>
                <div id="nav-projects"> <a href="/projects">Projects </a> </div>
            </div>
        </div>
        <div class="main-content">
        <div class="info-card">
            <div id="intro">
                <div id="name"> Hi, I'm Neel Parikh. </div>
                <div id="current-role">Currently, a full-stack developer at _________. </div>
                <div class="external-links">
                    <a href="https://github.com/nnkparikh"> <span> <i class="fab fa-github"></i> Github </span> </a>
                    <a href="https://www.linkedin.com/in/nnkparikh"> <span> <i class="fab fa-linkedin-in"></i> LinkedIn </span> </a>
                    <a href="https://twitter.com/?lang=en"> <span> <i class="fab fa-twitter"></i> Twitter </span> </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>





