<!DOCTYPE html>
<html class="page--notes" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }}</title>
    <!-- custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.min.css" />
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="content">
        <header id="header">
            <h1>Neel Parikh</h1>
            <div id="nav">
                <ul>
                    <li><a href="/writing/">Blog</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </header>
        
    </div>
</body>
</html>





