<!DOCTYPE html>
<html class="page--notes" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }}</title>
    <!-- custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/meslo-lg/styles.css">
</head>
<body>
    <div class="content">
        <header id="header">
            <h1>Neel Parikh</h1>
            <div id="nav">
                <ul>
                    <li><a href="/">Blog</a></li>
                    <li><a href="/">Projects</a></li>
                    <li><a href="/">About</a></li>
                </ul>
            </div>
        </header>
        <article itemscope itemtype="http://schema.org/BlogPosting">
            {{ .Content }}
            <div class="main-content">
                <div>
                    <ul class="post-list">
                        {{ range where .Site.RegularPages "Section" "posts" }}
                            <li class="post">
                                <time> {{ .Date.Format "2006-01-02" }} </time>
                                <span class="post-title">
                                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </article>
    </div>
</body>
</html>





